<div class="sidebar">
  <ul>
    <li>
      <button class="menu-btn" [ngClass]="{ 'selected': currentUrl.includes('dashboard') }" [routerLink]="['dashboard']">Dashboard</button>
    </li>
    <li>
      <button class="menu-btn" [ngClass]="{ 'selected': currentUrl.includes('top-fan-posts') }" [routerLink]="['top-fan-posts']">Top Fan Posts</button>
    </li>
    <li>
      <button class="menu-btn" [ngClass]="{ 'selected': currentUrl.includes('match-insights') }" [routerLink]="['match-insights']">Match Insights</button>
    </li>
    <li>
      <button class="menu-btn" [ngClass]="{ 'selected': currentUrl.includes('trending') }">Trending Fandom Activity</button>
    </li>
  </ul>
</div>
