<div class="box">
  <div class="box-title">
    <h2>Posts recomendados para você</h2>
  </div>
  <div class="box-1">
    <div class="box-1-title">
      <h3>Conteudos do jogador mais assistidos </h3>
    </div>
    <div class="posts">
      <div class="box-container">
        <img src="/assets/img/recomended-posts/post_img.png" alt="">
        <div class="box-1-content">
          <div class="post">
            <div class="post-type">Highlight</div>
            <div class="post-title">FalleN's Clutch Play Against NaVi</div>
            <div class="actions">
              <div class="actions-1">
                <div>
                  <img src="/assets/img/recomended-posts/like.svg" alt="">
                  <span>1.2K</span>
                </div>
                <div>
                  <img src="/assets/img/recomended-posts/coment.svg" alt="">
                  <span>1.2K</span>
                </div>
              </div>

              <div class="actions-1">
                <img src="/assets/img/recomended-posts/save.svg" alt="">
                <img src="/assets/img/recomended-posts/share.svg" alt="">
              </div>

            </div>
          </div>

        </div>
      </div>

      <div class="box-container">
        <img src="/assets/img/recomended-posts/post_img.png" alt="">
        <div class="box-1-content">
          <div class="post">
            <div class="post-type">Highlight</div>
            <div class="post-title">FalleN's Clutch Play Against NaVi</div>
            <div class="actions">
              <div class="actions-1">
                <div>
                  <img src="/assets/img/recomended-posts/like.svg" alt="">
                  <span>1.2K</span>
                </div>
                <div>
                  <img src="/assets/img/recomended-posts/coment.svg" alt="">
                  <span>1.2K</span>
                </div>
              </div>

              <div class="actions-1">
                <img src="/assets/img/recomended-posts/save.svg" alt="">
                <img src="/assets/img/recomended-posts/share.svg" alt="">
              </div>

            </div>
          </div>

        </div>
      </div>

      <div class="box-container">
        <img src="/assets/img/recomended-posts/post_img.png" alt="">
        <div class="box-1-content">
          <div class="post">
            <div class="post-type">Highlight</div>
            <div class="post-title">FalleN's Clutch Play Against NaVi</div>
            <div class="actions">
              <div class="actions-1">
                <div>
                  <img src="/assets/img/recomended-posts/like.svg" alt="">
                  <span>1.2K</span>
                </div>
                <div>
                  <img src="/assets/img/recomended-posts/coment.svg" alt="">
                  <span>1.2K</span>
                </div>
              </div>

              <div class="actions-1">
                <img src="/assets/img/recomended-posts/save.svg" alt="">
                <img src="/assets/img/recomended-posts/share.svg" alt="">
              </div>

            </div>
          </div>

        </div>
      </div>

      <div class="box-container">
        <img src="/assets/img/recomended-posts/post_img.png" alt="">
        <div class="box-1-content">
          <div class="post">
            <div class="post-type">Highlight</div>
            <div class="post-title">FalleN's Clutch Play Against NaVi</div>
            <div class="actions">
              <div class="actions-1">
                <div>
                  <img src="/assets/img/recomended-posts/like.svg" alt="">
                  <span>1.2K</span>
                </div>
                <div>
                  <img src="/assets/img/recomended-posts/coment.svg" alt="">
                  <span>1.2K</span>
                </div>
              </div>

              <div class="actions-1">
                <img src="/assets/img/recomended-posts/save.svg" alt="">
                <img src="/assets/img/recomended-posts/share.svg" alt="">
              </div>

            </div>
          </div>

        </div>
      </div>

      <div class="box-container">
        <img src="/assets/img/recomended-posts/post_img.png" alt="">
        <div class="box-1-content">
          <div class="post">
            <div class="post-type">Highlight</div>
            <div class="post-title">FalleN's Clutch Play Against NaVi</div>
            <div class="actions">
              <div class="actions-1">
                <div>
                  <img src="/assets/img/recomended-posts/like.svg" alt="">
                  <span>1.2K</span>
                </div>
                <div>
                  <img src="/assets/img/recomended-posts/coment.svg" alt="">
                  <span>1.2K</span>
                </div>
              </div>

              <div class="actions-1">
                <img src="/assets/img/recomended-posts/save.svg" alt="">
                <img src="/assets/img/recomended-posts/share.svg" alt="">
              </div>

            </div>
          </div>

        </div>
      </div>
    </div>
  </div>


  <div class="box-2">
    <div class="box-2-title">
      <h3>Conteudos do jogador mais assistidos </h3>
    </div>
    <div class="box-2-content">
      <div class="box-container">
        <div class="img">
          <img src="/assets/img/img-top-fans-posts/img1.png" alt="">
        </div>
        <div class="informations-box-3">
          <div class="user-informations">
            <div class="user_img">
              <img src="/assets/img/user_img.png" alt="">
            </div>
            <div class="user-data">
              <p class="user-name">furia_fan_01</p>
              <p class="user-time">2h ago</p>
            </div>
          </div>

          <div class="post-informations">
            <div class="likes-shares">
              <div class="data">
                <img src="/assets/img/img-top-fans-posts/likes_icon.svg" alt="">
                <p>1234</p>
              </div>

              <div class="data">
                <img src="/assets/img/img-top-fans-posts/share_icon.svg" alt="">
                <p>89</p>
              </div>
            </div>


          </div>
        </div>
      </div>

      <div class="box-container">
        <div class="img">
          <img src="/assets/img/img-top-fans-posts/img1.png" alt="">
        </div>
        <div class="informations-box-3">
          <div class="user-informations">
            <div class="user_img">
              <img src="/assets/img/user_img.png" alt="">
            </div>
            <div class="user-data">
              <p class="user-name">furia_supporter</p>
              <p class="user-time">4h ago</p>
            </div>
          </div>

          <div class="post-informations">
            <div class="likes-shares">
              <div class="data">
                <img src="/assets/img/img-top-fans-posts/likes_icon.svg" alt="">
                <p>856</p>
              </div>

              <div class="data">
                <img src="/assets/img/img-top-fans-posts/share_icon.svg" alt="">
                <p>45</p>
              </div>
            </div>


          </div>
        </div>
      </div>

      <div class="box-container">
        <div class="img">
          <img src="/assets/img/img-top-fans-posts/img1.png" alt="">
        </div>
        <div class="informations-box-3">
          <div class="user-informations">
            <div class="user_img">
              <img src="/assets/img/user_img.png" alt="">
            </div>
            <div class="user-data">
              <p class="user-name">furia_tiktok</p>
              <p class="user-time">6h ago</p>
            </div>
          </div>

          <div class="post-informations">
            <div class="likes-shares">
              <div class="data">
                <img src="/assets/img/img-top-fans-posts/likes_icon.svg" alt="">
                <p>2341</p>
              </div>

              <div class="data">
                <img src="/assets/img/img-top-fans-posts/share_icon.svg" alt="">
                <p>156</p>
              </div>
            </div>


          </div>
        </div>
      </div>

      <div class="box-container">
        <div class="img">
          <img src="/assets/img/img-top-fans-posts/img1.png" alt="">
        </div>
        <div class="informations-box-3">
          <div class="user-informations">
            <div class="user_img">
              <img src="/assets/img/user_img.png" alt="">
            </div>
            <div class="user-data">
              <p class="user-name">esports_lover</p>
              <p class="user-time">8h ago</p>
            </div>
          </div>

          <div class="post-informations">
            <div class="likes-shares">
              <div class="data">
                <img src="/assets/img/img-top-fans-posts/likes_icon.svg" alt="">
                <p>967</p>
              </div>

              <div class="data">
                <img src="/assets/img/img-top-fans-posts/share_icon.svg" alt="">
                <p>78</p>
              </div>
            </div>


          </div>
        </div>
      </div>

      <div class="box-container">
        <div class="img">
          <img src="/assets/img/img-top-fans-posts/img1.png" alt="">
        </div>
        <div class="informations-box-3">
          <div class="user-informations">
            <div class="user_img">
              <img src="/assets/img/user_img.png" alt="">
            </div>
            <div class="user-data">
              <p class="user-name">gaming_fan</p>
              <p class="user-time">12h ago</p>
            </div>
          </div>

          <div class="post-informations">
            <div class="likes-shares">
              <div class="data">
                <img src="/assets/img/img-top-fans-posts/likes_icon.svg" alt="">
                <p>543</p>
              </div>

              <div class="data">
                <img src="/assets/img/img-top-fans-posts/share_icon.svg" alt="">
                <p>34</p>
              </div>
            </div>


          </div>
        </div>
      </div>


      <div class="box-container">
        <div class="img">
          <img src="/assets/img/img-top-fans-posts/img1.png" alt="">
        </div>
        <div class="informations-box-3">
          <div class="user-informations">
            <div class="user_img">
              <img src="/assets/img/user_img.png" alt="">
            </div>
            <div class="user-data">
              <p class="user-name">furia_clips</p>
              <p class="user-time">1d ago</p>
            </div>
          </div>

          <div class="post-informations">
            <div class="likes-shares">
              <div class="data">
                <img src="/assets/img/img-top-fans-posts/likes_icon.svg" alt="">
                <p>1876</p>
              </div>

              <div class="data">
                <img src="/assets/img/img-top-fans-posts/share_icon.svg" alt="">
                <p>234</p>
              </div>
            </div>


          </div>
        </div>
      </div>
    </div>
  </div>
</div>
