:root{
  --branco: #fff;

  --preto-1: #000000;
  --preto-2: #1E1E1C;
  --preto-3: #262624;

  --cinza: #B4B4B4;
  --cinza-translucido: rgba(153, 153, 153, 0.3);
  --cinza-escuro: #666666;
  --cinza-claro: #9CA3AF;
  --cinza-medio: #767676;

  --amarelo: #E3C934;
  --amarelo-escuro: #EAB308;
  --amarelo-escuro-2: #b18708;

  --vermelho: #EF4444;

  --verde: #22C55E;
}
