<div class="box">
  <div class="box-1">
    <div class="title">
      <h1>Top Fan Posts & Interactions</h1>
    </div>

    <div class="filters">
      <div class="btn-group">
        <button type="button" class="btn btn-primario">All Platforms</button>
        <button type="button" class="btn btn-secundario">Instagram</button>
        <button type="button" class="btn btn-secundario">X</button>
        <button type="button" class="btn btn-secundario">TikTok</button>
      </div>

      <div class="selects">
        <select aria-label="Default select example" class="form-select">
          <option value="engagement" selected>Engajamento</option>
          <option value="recent">Mais recentes</option>
          <option value="liked">Mais curtidos</option>
          <option value="shared">Mais compartilhados</option>
          <option value="fan-score">Pontuação do fã</option>
          <option value="trending">Em alta agora</option>
          <option value="oldest">Mais antigos</option>
        </select>

        <select class="form-select" aria-label="Default select example">
          <option selected value="24h">24h</option>
          <option value="1 semana">1 semana</option>
          <option value="2 semanas">2 semanas</option>
          <option value="1 mês">1 mês</option>
        </select>
      </div>
    </div>
  </div>

  <div class="box-2">
    <div class="box-container">
      <div class="box-title">
        <h2>Total Posts</h2>
      </div>
      <div class="informations-box-2">
        <p class="number">2,847</p>
      </div>
    </div>

    <div class="box-container">
      <div class="box-title">
        <h2>Average Engagement</h2>
      </div>
      <div class="informations-box-2">
        <p class="number">1.2K</p>
      </div>
    </div>

    <div class="box-container">
      <div class="box-title">
        <h2>Positive Sentiment</h2>
      </div>
      <div class="informations-box-2">
        <p class="number">76%</p>
      </div>
    </div>

    <div class="box-container">
      <div class="box-title">
        <h2>Top Platform</h2>
      </div>
      <div class="informations-box-2">
        <p class="number">Instagram</p>
      </div>
    </div>
  </div>


  <div class="box-3">

    <div class="box-container">
      <div class="img">
        <img src="/assets/img/img-top-fans-posts/img1.png" alt="">
      </div>
      <div class="informations-box-3">
        <div class="user-informations">
          <div class="user_img">
            <img src="/assets/img/user_img.png" alt="">
          </div>
          <div class="user-data">
            <p class="user-name">furia_fan_01</p>
            <p class="user-time">2h ago</p>
          </div>
        </div>

        <div class="post-informations">
          <div class="likes-shares">
            <div class="data">
              <img src="/assets/img/img-top-fans-posts/likes_icon.svg" alt="">
              <p>1234</p>
            </div>

            <div class="data">
              <img src="/assets/img/img-top-fans-posts/share_icon.svg" alt="">
              <p>89</p>
            </div>
          </div>

          <div class="viral-post">
            <div class="circle verde"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="box-container">
      <div class="img">
        <img src="/assets/img/img-top-fans-posts/img1.png" alt="">
      </div>
      <div class="informations-box-3">
        <div class="user-informations">
          <div class="user_img">
            <img src="/assets/img/user_img.png" alt="">
          </div>
          <div class="user-data">
            <p class="user-name">furia_supporter</p>
            <p class="user-time">4h ago</p>
          </div>
        </div>

        <div class="post-informations">
          <div class="likes-shares">
            <div class="data">
              <img src="/assets/img/img-top-fans-posts/likes_icon.svg" alt="">
              <p>856</p>
            </div>

            <div class="data">
              <img src="/assets/img/img-top-fans-posts/share_icon.svg" alt="">
              <p>45</p>
            </div>
          </div>

          <div class="viral-post">
            <div class="circle amarelo"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="box-container">
      <div class="img">
        <img src="/assets/img/img-top-fans-posts/img1.png" alt="">
      </div>
      <div class="informations-box-3">
        <div class="user-informations">
          <div class="user_img">
            <img src="/assets/img/user_img.png" alt="">
          </div>
          <div class="user-data">
            <p class="user-name">furia_tiktok</p>
            <p class="user-time">6h ago</p>
          </div>
        </div>

        <div class="post-informations">
          <div class="likes-shares">
            <div class="data">
              <img src="/assets/img/img-top-fans-posts/likes_icon.svg" alt="">
              <p>2341</p>
            </div>

            <div class="data">
              <img src="/assets/img/img-top-fans-posts/share_icon.svg" alt="">
              <p>156</p>
            </div>
          </div>

          <div class="viral-post">
            <div class="circle verde"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="box-container">
      <div class="img">
        <img src="/assets/img/img-top-fans-posts/img1.png" alt="">
      </div>
      <div class="informations-box-3">
        <div class="user-informations">
          <div class="user_img">
            <img src="/assets/img/user_img.png" alt="">
          </div>
          <div class="user-data">
            <p class="user-name">esports_lover</p>
            <p class="user-time">8h ago</p>
          </div>
        </div>

        <div class="post-informations">
          <div class="likes-shares">
            <div class="data">
              <img src="/assets/img/img-top-fans-posts/likes_icon.svg" alt="">
              <p>967</p>
            </div>

            <div class="data">
              <img src="/assets/img/img-top-fans-posts/share_icon.svg" alt="">
              <p>78</p>
            </div>
          </div>

          <div class="viral-post">
            <div class="circle verde"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="box-container">
      <div class="img">
        <img src="/assets/img/img-top-fans-posts/img1.png" alt="">
      </div>
      <div class="informations-box-3">
        <div class="user-informations">
          <div class="user_img">
            <img src="/assets/img/user_img.png" alt="">
          </div>
          <div class="user-data">
            <p class="user-name">gaming_fan</p>
            <p class="user-time">12h ago</p>
          </div>
        </div>

        <div class="post-informations">
          <div class="likes-shares">
            <div class="data">
              <img src="/assets/img/img-top-fans-posts/likes_icon.svg" alt="">
              <p>543</p>
            </div>

            <div class="data">
              <img src="/assets/img/img-top-fans-posts/share_icon.svg" alt="">
              <p>34</p>
            </div>
          </div>

          <div class="viral-post">
            <div class="circle vermelho"></div>
          </div>
        </div>
      </div>
    </div>


    <div class="box-container">
      <div class="img">
        <img src="/assets/img/img-top-fans-posts/img1.png" alt="">
      </div>
      <div class="informations-box-3">
        <div class="user-informations">
          <div class="user_img">
            <img src="/assets/img/user_img.png" alt="">
          </div>
          <div class="user-data">
            <p class="user-name">furia_clips</p>
            <p class="user-time">1d ago</p>
          </div>
        </div>

        <div class="post-informations">
          <div class="likes-shares">
            <div class="data">
              <img src="/assets/img/img-top-fans-posts/likes_icon.svg" alt="">
              <p>1876</p>
            </div>

            <div class="data">
              <img src="/assets/img/img-top-fans-posts/share_icon.svg" alt="">
              <p>234</p>
            </div>
          </div>

          <div class="viral-post">
            <div class="circle verde"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
