<div class="box">
  <div class="box-1">
    <div class="box-container">
      <div class="partida">
        <div class="times">
          <p>FURIA vs THE MONGOLZ</p>
        </div>
        <div class="camp">
          <p>PGL Bucharest</p>
        </div>
      </div>

      <div class="select">
        <select aria-label="Default select example" class="form-select">
          <option value="engagement" selected>Abr 9, 2025</option>
          <option value="engagement" selected>Abr 8, 2025</option>
          <option value="engagement" selected>Abr 7, 2025</option>
          <option value="engagement" selected>Abr 6, 2025</option>
          <option value="engagement" selected>Mar 22, 2025</option>

        </select>
      </div>
    </div>
  </div>

  <div class="box-2">
    <div class="box-container">
      <div class="box-title">
        <img src="/assets/img/icon_match-insights/total_views.svg" alt="Total Views">
        <h2>Total Views</h2>
      </div>
      <div class="informations-box-2">
        <p class="number">245.8K</p>
      </div>
    </div>

    <div class="box-container">
      <div class="box-title">
        <img src="/assets/img/icon_match-insights/social_mentions.svg" alt="Social Mentions">
        <h2>Social Mentions</h2>
      </div>
      <div class="informations-box-2">
        <p class="number">18.3K</p>
      </div>
    </div>

    <div class="box-container">
      <div class="box-title">
        <img src="/assets/img/icon_match-insights/engagement_rate.svg" alt="Engagement Rate">
        <h2>Engagement Rate</h2>
      </div>
      <div class="informations-box-2">
        <p class="number">8.7%</p>
      </div>
    </div>

    <div class="box-container">
      <div class="box-title">
        <img src="/assets/img/icon_match-insights/sentiment_score.svg" alt="Sentiment Score">
        <h2>Sentiment Score</h2>
      </div>
      <div class="informations-box-2">
        <p class="number">7.8</p>
      </div>
    </div>
  </div>

  <div class="box-3">
    <div class="box-container">
      <div class="box-title">
        <h2>Engagement Timeline</h2>
      </div>
      <img src="/assets/img/icon_match-insights/chart.png" alt="chart">
    </div>
  </div>


  <div class="box-4">
    <div class="box-container">
      <div class="box-title">
        <h2>Fan Sentiment</h2>
      </div>
      <img src="/assets/img/icon_match-insights/chart-2.png" alt="chart">
      <div class="abount">
        <div class="abount-item">
          <div class="circle positive"></div>
          <p>Positive <span>65%</span></p>
        </div>

        <div class="abount-item">
          <div class="circle neutral"></div>
          <p>Neutral <span>25%</span></p>
        </div>

        <div class="abount-item">
          <div class="circle negative"></div>
          <p>Negative <span>10%</span></p>
        </div>
      </div>
    </div>

    <div class="box-container">
      <div class="box-title">
        <h2>Platform Distribution</h2>
      </div>
      <img src="/assets/img/icon_match-insights/chart-3.png" alt="chart">
    </div>
  </div>

  <div class="box-5">
    <div class="box-container">
      <div class="box-title">
        <h2>Key Insights</h2>
      </div>

      <div class="insights">
        <img src="/assets/img/icon_match-insights/peak_engagement.svg" alt="">
        <div class="informations-box-5">
          <h3>
            Peak Engagement at 20:00
          </h3>
          <p>
            Significant spike in engagement during crucial round wins
          </p>
        </div>
      </div>

      <div class="insights">
        <img src="/assets/img/icon_match-insights/peak_engagement.svg" alt="">
        <div class="informations-box-5">
          <h3>
            Strong Positive Sentiment
          </h3>
          <p>
            65% positive reactions indicate strong fan support
          </p>
        </div>
      </div>

      <div class="insights">
        <img src="/assets/img/icon_match-insights/peak_engagement.svg" alt="">
        <div class="informations-box-5">
          <h3>
            High Social Media Activity
          </h3>
          <p>
            Twitter leads engagement with 45% of total interactions
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
