@import './config-scss/rem-calc.scss';
@import './config-scss/variables.scss';
@import './config-scss/reset.scss';

*{
  font-family: 'Inter', sans-serif;
}

html, body {
  height: 100%;
  margin: 0;
}

app-root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.btn-primario {
  width: 100%;
  background-color: var(--amarelo-escuro);

  border: none;

  color: var(--preto-2);

  &:hover {
    background-color: var(--amarelo-escuro-2);
  }
}

.btn-secundario {
  width: 100%;
  background-color: transparent;

  border: 1px solid var(--cinza-translucido-2);

  color: var(--cinza-claro);

  &:hover {
    background-color: var(--cinza-translucido);
  }
}

select {
  width: auto !important;
  background-color: transparent !important;
  border: 1px solid var(--cinza-translucido-2) !important;
  color: var(--cinza-claro) !important;
}
