<div class="box">
  <div class="box-1">
    <div class="box-container">
      <div class="welcome">
        <h2>
          Welcome Alex
        </h2>
        <p>
          Your fan journey continues
        </p>
      </div>
      <div class="informations-user-box-1">
        <p class="tag">Super Fan</p>
        <p class="level">level 42</p>
      </div>

      <div id="back"></div>
    </div>
  </div>

  <div class="row">
    <div class="column-1">
      <div class="box-2">
        <div class="box-container">
          <div class="title">
            <div>
              <img src="/assets/img/user_home/matches_watched.svg" alt="">
            </div>
            <h2>
              Partidas Assistidas
            </h2>
          </div>
          <div class="content">
            <div class="number">
              12
            </div>
            <div class="data">
              Esse mês
            </div>
          </div>
        </div>

        <div class="box-container">
          <div class="title">
            <div>
              <img src="/assets/img/user_home/like.svg" alt="">
            </div>
            <h2>
              Like em posts
            </h2>
          </div>
          <div class="content">
            <div class="number">
              53
            </div>
            <div class="data">
              Esse mês
            </div>
          </div>
        </div>

        <div class="box-container">
          <div class="title">
            <div>
              <img src="/assets/img/user_home/calender.svg" alt="">
            </div>
            <h2>
              Participações de eventos
            </h2>
          </div>
          <div class="content">
            <div class="number">
              2
            </div>
            <div class="data">
              Esse mês
            </div>
          </div>
        </div>
      </div>

      <div class="box-3">
        <div class="box-container">
          <div class="title">
            <h2>
              Partidas Recentes
            </h2>
          </div>

          <div class="box-container">

            <div class="time">
              <div class="title">
                <img src="/assets/img/user_home/time-1.png" alt="">
                <div class="name-time">
                  <h3>
                    FURIA vs Team Liquid
                  </h3>
                  <p>
                    ESL Pro League
                  </p>
                </div>
              </div>

              <div class="informations-time">
                <div class="placar">2:1</div>
                <div class="date">2024-02-10</div>
              </div>
            </div>

          </div>

          <div class="box-container">

            <div class="time">
              <div class="title">
                <img src="/assets/img/user_home/time-2.png" alt="">
                <div class="name-time">
                  <h3>
                    FURIA vs NAVI
                  </h3>
                  <p>
                    BLAST Premier
                  </p>
                </div>
              </div>

              <div class="informations-time">
                <div class="placar">2:1</div>
                <div class="date">2024-02-08</div>
              </div>
            </div>

          </div>

          <div class="box-container">

            <div class="time">
              <div class="title">
                <img src="/assets/img/user_home/time-3.png" alt="">
                <div class="name-time">
                  <h3>
                    FURIA vs Cloud9
                  </h3>
                  <p>
                    ESL Pro League
                  </p>
                </div>
              </div>

              <div class="informations-time">
                <div class="placar">2:1</div>
                <div class="date">2024-02-05</div>
              </div>
            </div>
          </div>

          <div class="box-container">

            <div class="time">
              <div class="title">
                <img src="/assets/img/user_home/time-1.png" alt="">
                <div class="name-time">
                  <h3>
                    FURIA vs Team Liquid
                  </h3>
                  <p>
                    ESL Pro League
                  </p>
                </div>
              </div>

              <div class="informations-time">
                <div class="placar">2:1</div>
                <div class="date">2024-02-10</div>
              </div>
            </div>

          </div>

          <div class="box-container">

            <div class="time">
              <div class="title">
                <img src="/assets/img/user_home/time-2.png" alt="">
                <div class="name-time">
                  <h3>
                    FURIA vs NAVI
                  </h3>
                  <p>
                    BLAST Premier
                  </p>
                </div>
              </div>

              <div class="informations-time">
                <div class="placar">2:1</div>
                <div class="date">2024-02-08</div>
              </div>
            </div>

          </div>


        </div>
      </div>
    </div>

    <div class="column-2">
      <div class="box-4">
        <div class="box-container">
          <div class="title">
            <h2>
              Seus status
            </h2>
          </div>
          <div class="status">
            <div class="status-title">
              <div class="direita">
                <img src="/assets/img/user_home/relogio.svg" alt="">
                <p>Watch Time</p>
              </div>

              <div class="time">
                24h
              </div>
            </div>

            <div class="progress-bar">
              <div class="progress" style="width: 70%;"></div>
            </div>
          </div>

          <div class="status">
            <div class="status-title">
              <div class="direita">
                <img src="/assets/img/user_home/rank.svg" alt="">
                <p>Community Rank</p>
              </div>

              <div class="time">
                Top 5%
              </div>
            </div>

            <div class="progress-bar">
              <div class="progress" style="width:95%;"></div>
            </div>
          </div>

          <div class="status">
            <div class="status-title">
              <div class="direita">
                <img src="/assets/img/user_home/rate.svg" alt="">
                <p>Interaction Rate</p>
              </div>

              <div class="time">
                89%
              </div>
            </div>

            <div class="progress-bar">
              <div class="progress" style="width: 89%;"></div>
            </div>
          </div>
        </div>
      </div>


      <div class="box-5">
        <div class="box-container">
          <div class="title">
            <h2>
              Top Posts This Week
            </h2>
          </div>

          <div class="post">
            <div>
              <img src="/assets/img/user_home/post_img.png" alt="">
            </div>
            <div class="content">
              <div class="post-title">Victory at ESL Pro League!</div>
              <div class="likes">
                <img src="/assets/img/user_home/like.svg" alt="">
                <div class="number">
                  2.4K likes
                </div>
              </div>
            </div>
          </div>

          <div class="post">
            <div>
              <img src="/assets/img/user_home/post_img.png" alt="">
            </div>
            <div class="content">
              <div class="post-title">Victory at ESL Pro League!</div>
              <div class="likes">
                <img src="/assets/img/user_home/like.svg" alt="">
                <div class="number">
                  2.4K likes
                </div>
              </div>
            </div>
          </div>

          <div class="post">
            <div>
              <img src="/assets/img/user_home/post_img.png" alt="">
            </div>
            <div class="content">
              <div class="post-title">Victory at ESL Pro League!</div>
              <div class="likes">
                <img src="/assets/img/user_home/like.svg" alt="">
                <div class="number">
                  2.4K likes
                </div>
              </div>
            </div>
          </div>

          <div class="mais">
            <button class="btn btn-primario">Ver mais</button>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>
