<div class="box">
  <div class="box-title">
    <h2>Deixe a FURIA te conhecer melhor</h2>
    <p>Personalize sua experiência com base nos últimos 12 meses</p>
  </div>

  <div class="box-1">
    <div class="box-1-title">
      <h3>Seus Interesses</h3>
    </div>
    <div class="box-1-content">
      <div class="box-1-option">
        <div class="box-container">
          <div>
            <img src="/assets/img/personalize-experience/csgo.svg" alt="">
          </div>
          <p>CS:GO</p>
        </div>
      </div>
      <div class="box-1-option">
        <div class="box-container">
          <div>
            <img src="/assets/img/personalize-experience/csgo.svg" alt="">
          </div>
          <p>Valorant</p>
        </div>
      </div>
      <div class="box-1-option">
        <div class="box-container">
          <div>
            <img src="/assets/img/personalize-experience/csgo.svg" alt="">
          </div>
          <p>Lives</p>
        </div>
      </div>
      <div class="box-1-option">
        <div class="box-container">
          <div>
            <img src="/assets/img/personalize-experience/csgo.svg" alt="">
          </div>
          <p>Conteúdo Exclusivo</p>
        </div>
      </div>
      <div class="box-1-option">
        <div class="box-container">
          <div>
            <img src="/assets/img/personalize-experience/csgo.svg" alt="">
          </div>
          <p>Bastidores</p>
        </div>
      </div>
      <div class="box-1-option">
        <div class="box-container">
          <div>
            <img src="/assets/img/personalize-experience/csgo.svg" alt="">
          </div>
          <p>Competições</p>
        </div>
      </div>
      <div class="box-1-option">
        <div class="box-container">
          <div>
            <img src="/assets/img/personalize-experience/csgo.svg" alt="">
          </div>
          <p>Treinos</p>
        </div>
      </div>
      <div class="box-1-option">
        <div class="box-container">
          <div>
            <img src="/assets/img/personalize-experience/csgo.svg" alt="">
          </div>
          <p>Entrevistas</p>
        </div>
      </div>
      <div class="box-1-option">
        <div class="box-container">
          <div>
            <img src="/assets/img/personalize-experience/csgo.svg" alt="">
          </div>
          <p>Jogadores Favoritos</p>
        </div>
      </div>
    </div>
  </div>


  <div class="box-2">
    <div class="box-2-title">
      <h3>Seus Interesses</h3>
    </div>

    <div class="box-2-content">
      <div class="box-2-option">
        <p>Frequência de visualização de partidas</p>

        <div class="progress-bar">
          <div class="progress" style="width: 70%;"></div>
          <div class="circle" style="left: 70%;"></div>
        </div>
      </div>

      <div class="box-2-option">
        <p>Tempo médio assistindo streams</p>

        <div class="progress-bar">
          <div class="progress" style="width: 70%;"></div>
          <div class="circle" style="left: 70%;"></div>
        </div>
      </div>

      <div class="box-2-option">
        <p>Engajamento em redes sociais</p>

        <div class="progress-bar">
          <div class="progress" style="width: 70%;"></div>
          <div class="circle" style="left: 70%;"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="box-3">
    <div class="box-3-title">
      <h3>Eventos recentes que Assistiu</h3>
    </div>

    <div class="box-3-content">
      <div class="box-3-option">
        <div class="box-container">
          <div class="quadrado">
          </div>
          <p>Major Rio 2022</p>
        </div>
      </div>

      <div class="box-3-option">
        <div class="box-container">
          <div class="quadrado">
          </div>
          <p>ESL Pro League</p>
        </div>
      </div>

      <div class="box-3-option">
        <div class="box-container">
          <div class="quadrado">
          </div>
          <p>FURIA Fan Meetup</p>
        </div>
      </div>

      <div class="box-3-option">
        <div class="box-container">
          <div class="quadrado">
          </div>
          <p>BLAST Premier</p>
        </div>
      </div>

      <div class="box-3-option">
        <div class="box-container">
          <div class="quadrado">
          </div>
          <p>IEM Katowice</p>
        </div>
      </div>

      <div class="box-3-option">
        <div class="box-container">
          <div class="quadrado">
          </div>
          <p>Lives Oficiais</p>
        </div>
      </div>
    </div>
  </div>

  <div class="box-4">
    <div class="box-4-title">
      <h3>Suas Compras FURIA</h3>
    </div>

    <div class="box-4-content">
      <div class="box-4-option">
        <div class="box-container">
          <img src="/assets/img/personalize-experience/icon.svg" alt="">
          <p>Camisetas Oficiais</p>
        </div>
      </div>
      <div class="box-4-option">
        <div class="box-container">
          <img src="/assets/img/personalize-experience/icon.svg" alt="">
          <p>Produtos Gaming</p>
        </div>
      </div>
      <div class="box-4-option">
        <div class="box-container">
          <img src="/assets/img/personalize-experience/icon.svg" alt="">
          <p>Ingressos Eventos</p>
        </div>
      </div>
      <div class="box-4-option">
        <div class="box-container">
          <img src="/assets/img/personalize-experience/icon.svg" alt="">
          <p>Itens Digitais</p>
        </div>
      </div>
      <div class="box-4-option">
        <div class="box-container">
          <img src="/assets/img/personalize-experience/icon.svg" alt="">
          <p>Colecionáveis</p>
        </div>
      </div>

      <div class="box-4-option">
        <div class="box-container">
          <img src="/assets/img/personalize-experience/icon.svg" alt="">
          <p>Acessórios</p>
        </div>
      </div>
    </div>
  </div>

  <div class="box-5">
    <button class="btn btn-primario" [routerLink]="['home']">Criar minha experiência FURIA</button>
    <p>Você pode atualizar essas informações a qualquer momento</p>
  </div>
</div>
